<h1>{{title}} {{month}}/{{day}}/{{year}}</h1>
<h3>Today's recipe is: {{todaysRecipeTitle}}</h3>
<div>
  <h2>{{todaysRecipeTitle}}</h2>
  <h3>{{todaysRecipeIngredients}}</h3>
  <h3>{{todaysRecipeDirections}}</h3>

</div>

<h3>Add A New Recipe</h3>
<h2>Name of the new recipe: {{newRecipeTitle}}</h2>
<form>
  <label for="newRecipeTitle">New Recipe Title</label>
  <input [(ngModel)]="newRecipeTitle" type="text" name="recipe">
  <label for="newRecipeIngredients">Ingredients: </label>
  <input [(ngModel)]="newRecipeIngredients" type="text" name="recipe">
  <label for="newRecipeDirections">Directions: </label>
  <input [(ngModel)]="newRecipeDirections" type="text" name="recipe">
  <button (click)="addRecipe(newRecipeTitle,newRecipeIngredients,newRecipeDirections)">Add Recipe</button>
</form>
<h3>Available Recipes</h3>
<ul>
  <li *ngFor="let recipe of recipeList">{{recipe.title}}<br>{{recipe.ingredients}}<br>{{recipe.directions}}</li>
</ul>
<button (click)="alertMe()">Click here</button>
